:root{
    --gold:gold;
    --black:black;
    --white:white;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
  height: 50px;
  width: 100%;
    position: fixed;
    background-color:var(--white);
    z-index: 2;
    /* padding:16px; */
    box-shadow: 1px 1px 20px var(--black);
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:12px;
}
.headerLogo{
  cursor: pointer;
}
.headerText {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 300;
}

.cta-menu {
  width: 25%;
}
  .menu{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border:  1px solid red;
    color: black;
  }
  
  a{
    color: black;
  }
  /* Navbar Ends */
.about1{
    background-color:black;
    color: gold;
    display: grid;
    height: 100vh;
    
    transition: 1.5s;
    place-content:center;
}
    .footer{
        background-color: white;
        display: grid;
        place-items: center;
        position: fixed;
        bottom: 0;    
       }