* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--gold: gold;
	--goldLight: rgba(204, 179, 38, 0.514);
	--black: black;
	--white: white;
}

a {
	text-decoration: none;
}

.header {
	height: 50px;
	width: 100%;
	position: fixed;
	background-color: var(--white);
	z-index: 10;
	box-shadow: 1px 1px 20px var(--black);
}

/* smallest width */
@media (max-width: 550px) {
	.header {
		position: fixed;
	}
}

.navmenu {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 12px 20px;
}
.headerLogo {
	cursor: pointer;
}

.headerText {
	flex: 1 1 0%;
	text-align: center;
	font-size: 1.2rem;
	color: var(--black);
	font-weight: 300;
}
/* smallest width */
@media (max-width: 320px) {
	.headerText {
		font-size: 0.8rem;
	}
	.headerLogo {
		height: 20px;
		width: 20px;
	}
}
/* desktop menu starts */
.cta-menu {
	width: 20%;
	display: block;
}

/* smallest screen */
@media screen and (max-width: 550px) {
	.cta-menu {
		display: none;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
}

a {
	color: black;
}
/* desktop menu ends */

/* mobile menu starts */
.mobile-menu,
.hamburger {
	display: none;
}

@media (max-width: 550px) {
	.hamburger {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-size: 1.2rem;
		height: 100%;
		width: 20px;
	}

	.fa-times,
	.fa-bars {
		position: absolute;
	}

	.fa-times {
		display: none;
	}

	.mobile-menu {
		display: none;
		position: fixed;
		padding: 20px 10px;
		background-color: rgba(255, 255, 255, 0.952);
		position: absolute;
		height: 100vh;
		width: 50%;
		right: 0;
		top: 100%;
		z-index: 9;
	}

	.mobile-menulink {
		display: flex;
		flex-direction: column;
		gap: 1.2em;
	}
}

/* mobile menu ends */

/* catalogue starts */
.catalogue {
	display: flex;
	height: 100vh;
	justify-content: space-between;
  padding-top: 50px;
}

.cat-flex-wrapper {
	height: 100%;
	width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--goldLight);
}

.intro-cat {
  font-size: 2.5rem;
}

.cata-flex {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
}

.cat-text {
  margin-top: auto;
}
@media(min-width:382px) and (max-width:429px){
	.cat-text {
		margin-top: 13px;
	  }
}

.cat-image-wrapper {
	background: url("./images/sinkologo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 100%;
	display: block;
}
@media(max-width:320px){
	.intro-cat{
		font-size:1.8rem;
	}
}

@media (min-width:321px) and (max-width:381px) {
.intro-cat{
	font-size:2.1rem;
}
}
@media (max-width: 700px) {
	.cat-image-wrapper {
		display: none;
	}

	.cat-flex-wrapper{
		width: 100%;
	}
}

@media(min-width:701px) and (max-width:907px){
	.cat-image-wrapper{
		background-position: center;
	}
	.intro-cat{
		font-size:2rem;
	}
}


.cat-img {
	display: grid;
	place-items: center;
	min-width: 70%;
	width: 100%;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	padding: 10px 20px;
}
.image {
	display: grid;
	place-items: center;
	width: 100%;
	height: 300px;
}


/* footer style starts */

/* smallest screen */
footer {
	background-color: var(--goldLight);
	color: var(--black);
	padding: 20px;
}

.enquiryContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

@media (min-width: 769px) {
	.enquiryContainer {
		justify-content: center;
		align-items: center;
	}

	.enquiryContainer div {
		width: 50%;
	}
}

.sinko3-text {
	font-size: 1.1rem;
	margin-bottom: 20px;
}

.griditems {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	width: 100%;
	margin-bottom: 20px;
}
.linkSpan {
	display: inline-block;
	width: 55px;
	font-size: 0.7rem;
}
.linkText {
	width: fit-content;
	font-size: 0.75rem;
	margin-left: 5px;
}

.linkText:hover {
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}

.footer-icon {
	margin-right: 5px;
	font-size: 1.1rem;
}

.nav6 {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	width: 100%;
}
.address {
	display: flex;
	/* width: 100%; */
	font-size: 0.7rem;
	gap: 10px;
}
.address-icon {
	display: inline-flex;
	gap: 3px;
	max-width: fit-content;
	padding-right: 9px;
}
.address span {
	font-size: 0.7rem;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.small {
	font-size: 0.7rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.699);
}

@media (min-width: 769px) {
	.linkText, .linkSpan {
		font-size: 1rem;
	}

	.address, .address span {
		font-size: 0.9rem;
	}

	.small {
		font-size: 0.9rem;
	}
}

/* footer style ends */
