*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    transition: 3s;
    background-color:rgb(255, 215, 0);
    width: 100%;
    padding: 5px 6px;
}
.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .fa-solid{
    color: #0e0d0d;
  }
  .sinko1 {
    /* background-image: linear-gradient(
        rgba(255, 255, 255, 0.945),
        rgba(255, 255, 255, 0.808)), url(./images/sinkologo.jpg); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    min-height: 100vh;
    transition: 1.5s;
    /* display: flex; */
    /* justify-content: center; */
    align-items:center;
  }
  .heroc {
    font-size: xx-large;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .bttn {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  
  .heroc p {
    margin-top: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: 3s;
  }
  .me1-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .btn1 {
    padding: 20px 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: large;
  }
  .btn1:hover {
    background-color:rgb(255, 215, 0);
    color: black;
    transition: 3s;
  }
  a{
    text-decoration: none;
  }
  .sinko2{
    background-color:gold;

  }
  .herow{
   display: grid;
   place-items: center;
   margin-bottom: 2rem;
  }
  .herow h1{
    margin-top: 3rem;
    font-size: xx-large;
  }
  .img{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 2rem;
    column-gap: 10rem;
    width: 70rem;
    /* height: 50rem; */
  }
  .img img{
    width: 100%;
    height: 100%;
    margin-top:2rem;
    margin-bottom:4rem;
  }
  .enquiries{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr ;
    row-gap: 5rem;
    column-gap: 5rem;
  }
  .nav2{
    font-size: larger;
  }
  .nav2 p{
  font-size: larger;
  font-weight: 700;
  }
 .sinko3{
background-color:grey;
display: grid;
}
.heroc1{
  display: grid;
  place-items: center;
  margin-top: 2rem; 
}
.heroc1 p{
  font-size: larger;
  font-weight: 500;
}