:root {
	--gold: gold;
  --goldLight: rgba(204, 179, 38, 0.938);
	--black: black;
	--white: white;
}

body {
	font-family: "Poppins", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.header {
	height: 50px;
	width: 100%;
	position: fixed;
	background-color: var(--white);
	z-index: 10;
	/* padding:16px; */
	box-shadow: 1px 1px 20px var(--black);
}

@media (max-width: 420px) {
  .header {
    position: sticky;
  }
}

.navmenu {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 12px 20px;
}
.headerLogo {
	cursor: pointer;
}

.headerText {
	flex: 1 1 0%;
	text-align: center;
	font-size: 1.2rem;
	color: var(--black);
	font-weight: 300;
}
@media(max-width:420px){
  .headerText{
    font-size: 0.8rem;
  }
  .headerLogo{
height: 20px;
width: 20px;
  }
}

/* desktop menu starts */
.cta-menu {
	width: 20%;
  
  border: 1px solid red;
  display: block;
}

/* smallest screen */
@media screen and (max-width: 420px) {
  .cta-menu {
    display: none;
  }
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
}

a {
	color: black;
}
/* desktop menu ends */

/* mobile menu starts */
.mobile-menu, .hamburger{
  display: none;
}

@media (max-width: 420px){
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.2rem;
    border: 1px solid red;
    height: 100%;
    width: 20px;
  }

  .fa-times, .fa-bars {
    position: absolute;    
  }

  .fa-times {
    display: none;
  }

  .mobile-menu {
    display: none;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.89);
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 100%;
    z-index: 9;
  }

  .mobile-menulink{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    
  }
}
/* mobile menu ends */

/* sinko1 section */
.sinko1 {
	position: relative;
	display: flex;
	height: 100vh;
	background: url("./images//-6050730509513901087_121.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sinko1Overlay {
	position: absolute;
	background: #14040467;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.herocc {
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 50px;
	z-index: 2;
}
.sinko1-text {
	color: var(--white);
	margin-bottom: 30px;
	font-size: 1.2rem;
	font-weight: 300;
}

.btn1 {
	font-size: 1rem;
	color: var(--black);
	font-weight: 500;
	padding: 11px 18px;
	background-color: var(--white);
	border: none;
	width: fit-content;
	border-radius: 5px;
}

.btn1:hover {
	cursor: pointer;
	background-color: var(--gold);
	transition: 1300ms;
}
/* sinko2 section */
.sinko2-description {
  padding: 32px 16px;
}

.sinko2-container {
	
	text-align: center;
	color: var(--black);
}

.sinko2-title {
	font-size: 1.5rem;
	text-transform: capitalize;
}
.sinko2-text {
	font-size: 1rem;
	font-style: inherit;
	line-height: 1.5rem;
	margin: 30px auto;
	width: min(80%, 500px);
}

.image-wrapper {
	background-color: var(--black);
  padding: 0 10px;
  width: 100%;
}
.sinko2-img-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	padding: 10px;
}

/* smallest screen */
@media  (max-width: 420px) {
	.sinko2-img-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		place-items: center;
	}
}

/* medium screen */

.sinko2-img {
	width: 200px;
	height: 250px;
}

footer {
	background-color: var(--goldLight);
	color: var(--black);
  padding: 20px ;
}

.enquiryContainer {
	display: flex;
	align-items: center;
}

/* smallest screen */
@media screen and (max-width: 420px) {
	.enquiryContainer {
		flex-direction: column;
    align-items: flex-start;
	}


.sinko3-text {
  font-size: 1.1rem;
  margin-bottom: 20px;
  
}

.griditems {
	display: grid;
  width: 100%;
	gap: 10px;
  margin-bottom: 20px;
}
.linkSpan {
	margin-right: 1em;
	/* width: 100px; */
}
/* smallest screen */
/* @media screen and (max-width: 420px) {
    .linkSpan {
      margin-right: ;
    }
  }  */
.linkText {
	width: fit-content;
}

.linkText:hover{
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.footer-icon {
  margin-right: 5px;
  font-size: 1.1rem;
}

.nav6 {
font-size: 0.8rem;
width: 100%;
}

.small {
	font-size: 0.7rem;
	text-align: center;
  color: rgba(255, 255, 255, 0.521);
}
}